.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
}

.header-switch {
  display: flex;
  gap: 6px;
}

.header-switch button {
  font-size: 28px;
  border: none;
  background: none;
  cursor: pointer;

}


.currentuser {
  color: white;
  transition: all 500ms;
}

.passive {
  color: rgba(255, 255, 255, 0.336);
}

@media (max-width: 613px) {

  .header-switch {
    flex-direction: column;
  }

}

@media (max-width: 400px) {


  .header {
    font-size: 28px;
  }

  .header-switch {
    margin-right: 15px;
  }

}