.ticket {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px 36px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    border: 1px solid rgba(255, 255, 255, 0.49);
    border-radius: 12px;
}
.betted-number-container {
display: flex;

gap: 12px;

}

.betted-number-container p {
background-color: blue;
padding: 10px;
border-radius: 50%;
}