.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px 36px;
    background: rgba(49, 86, 180, 0.205);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(49, 87, 180, 0.79);
    transition: all 120ms;
}
.betted-number-container {
display: flex;
gap: 12px;
}

.lottery-ticket-number {
    width: 40px;
    height: 40px;
    display: flex;
    background: rgba(49, 86, 180, 0.205);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(49, 87, 180, 0.79);
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}