.player-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-dashboard-name {
    display: flex;
    align-items: center;
}

.player-dashboard-name button {
    background: none;
    border: none;
    cursor: pointer;
}

.winning-numbers {
    line-height: 40px;
}

.namechange {
    background: none;
    margin-bottom: 12px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(49, 87, 180, 0.79);
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    -moz-appearance: textfield;
    margin-left: 12px;
    margin-top: 12px;
}

@media (max-width: 535px) {
    .player-dashboard-name {
        gap: 0;
        padding: 0;
        font-size: 12px;
    }
}

@media (max-width: 535px) {
    .player-dashboard-name {
        flex-direction: column;
    }
}