* {
  box-sizing: border-box;
}

.App {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a6a6bc;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #a6a6bc 14px ), repeating-linear-gradient( #080a4055, #080a40 );
}

.lottery-container {
  width: 90%;
  height: 90%;
  padding: 80px;
  margin: 0 auto;
background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.4px);
-webkit-backdrop-filter: blur(4.4px);
border: 1px solid rgba(255, 255, 255, 0.49);
overflow-y: scroll;
}

.header {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}
