* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  padding: 0;
}

.App {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a6a6bc;
  opacity: 0.8;
  background-color: #19191c;
  opacity: 1;
  background-image: radial-gradient(#1d5250 1px, transparent 1px), radial-gradient(#1d5250 1px, #19191c 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  position: relative;
}

.infos {
  position: absolute;
  bottom: 0;
}

.lottery-container {
  width: 90%;
  height: 90%;
  padding: 80px;
  margin: 0 auto;
  overflow-y: scroll;
  background: rgba(49, 87, 180, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(49, 87, 180, 0.79);
  margin-bottom: 2px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.lottery-container {
  scrollbar-width: thin;
  scrollbar-color: #d12e2e #1d1b1b;
}

/* Chrome, Edge, and Safari */
.lottery-container::-webkit-scrollbar {
  width: 8px;
}

.lottery-container::-webkit-scrollbar-track {
  background: #1d1b1b00;
}

.lottery-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 15px;
  border: 0px solid #ffffff;
}

@media (max-width: 613px) {

  .lottery-container {
    width: 95%;
    padding: 30px;
  }


}


@media (max-width: 555px) {

  .infos {
    font-size: 13px;
  }


}