* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}

.App {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a6a6bc;
opacity: 0.8;
background-color: #19191c;
opacity: 1;
background-image:  radial-gradient(#1d5250 1px, transparent 1px), radial-gradient(#1d5250 1px, #19191c 1px);
background-size: 40px 40px;
background-position: 0 0,20px 20px;
}

.lottery-container {
  width: 90%;
  height: 90%;
  padding: 80px;
  margin: 0 auto;
  overflow-y: scroll;
  background: rgba(49, 87, 180, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(49, 87, 180, 0.79);
}

.lottery-container::-webkit-scrollbar {
  display: none;
}

